html{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	width:900px;
	margin:auto;
}
h1{
	color:rgb(65,112,187);
	border-bottom: 3px solid rgb(203,216,237);
	text-align: center;
}
h2{
	border-bottom: 1px solid rgb(65,112,187);
	
}
footer{
	border-top: 2px solid black;
}
footer p{
	float:left;
	padding-right:30%;
}
#nbHeures{
	font-size: 45px;
	text-align:center;
}